<div class="container">
	    <div class="post col-xs-12 col-izq"><%= render 'shared/post_form' %></div>
	    <div class="post col-xs-12 agradecimiento col-der">Todo el equipo de Vesindo te da las gracias por apoyarnos desarrollando esta aplicación. Estamos muy agradecidos contigo! <br>
      	Si quieres más detalles del proyecto:
      	<br> Visita <a href="http://www.vesindo.com">Vesindo.com</a>
      	<br> Escríbenos a contacto@vesindo.com <br><br><br><br><br><br>
      </div>
        <%= render partial: 'posts/posts', locals: { posts: posts} %>
</div>