<div class="container">
	<div id="masonry-container" class="masonry-container transitions-enabled effect-2  clearfix">

		<div class="box col-xs-12 col-md-5">
			<div class="post"><%= render 'shared/post_form' %></div>
		</div>

		<div class="box col-xs-12 col-md-5">
			<div class="post">
				<div class="post-mensaje">
					<div class="tag"><strong>Muchas gracias condominio Metropolitan!</strong></div>
					<div class="post-content">
			    		<h5>Todo el equipo de Vesindo te da las gracias por apoyarnos desarrollando esta aplicación. Estamos muy agradecidos contigo! <br>
			    			Los invitamos a participar, invitar y a descubirir quien es tu vecino. <br><br>
				      	Si quieres más detalles del proyecto:
				      	<br> Visita <a href="http://www.vesindo.com">Vesindo.com</a>
				      	<br> Escríbenos a contacto@vesindo.com</h5>
					</div>
				</div>
			</div>
		</div>
		<%= render partial: 'posts/posts', locals: { posts: posts} %>
	</div>
</div>