<h1>Bienvenido a Vesindo!</h1>

<p>Hola <%= @user.name %>,</p>

<p>
¡Que alegría que estés junto a nosotros! Porfavor, haz clic en el siguiente link para terminar de activar tu cuenta:
</p>

<%= link_to "Activar cuenta Vesindo", edit_account_activation_url(@user.activation_token,
                                                    email: @user.email) %>

<p>
	Te damos las gracias sinceras,
	El equipo de Vesindo
</p>