<div class="comment">
	<div>
		<div class="user"><%= link_to comment.user.name, user_path(comment.user) %>
			  <% if current_user?(comment.user) %>
    | <%= link_to "Eliminar", user_post_comment_path(comment.post.user, comment.post, comment), method: :delete,
                                  data: { confirm: "Estas seguro?" } %>
  <% end %>
	<br><small><%= time_ago_in_words(comment.created_at) %> atras.</small>
		</div>
		<div class="content"><%= comment.content %></div>
	</div>
</div>
