<div class="container">
	<div class="col-xs-12 col-sm-12 col-md-10 col-lg-8 col-md-offset-1 col-lg-offset-2">
		<h2 class="text-center">Registro</h2>
		<%= render partial: 'users/new', locals: {user: @user } %>
	</div>
</div>
