<div class="container">
	<h2>Porfavor, ingresa el código de activación</h2>
	<%= form_for :activacion do |f| %>

	<%= f.text_field :codigo, placeholder: "Escribe aquí el código de activación" %>
	<%= f.submit "Activar mi usuario!", class: "btn btn-primary" %>
	<% end %>
</div>
