	<% if posts.any? 

		posts.each.with_index do |post, index| %>

				<div class="box col-xs-12 col-md-5">
					<%= render partial: 'posts/post', locals: { post: post } %>
				</div>

		<% end %>

	<div class="box col-xs-12 col-md-5">
		<%= will_paginate posts %>
	</div>
	<% end %>