<% if posts.any? 

	posts.each.with_index do |post, index| %>

			<% 
			if index.even? %>
				<div class="col-izq">
			<% else %>
				<div class="col-der">
			<% end %>
				<%= render partial: 'posts/post', locals: { post: post } %>
			</div>

	<% end %>

	<div class="clearfix"></div>

<%= will_paginate posts %>

<% end %>