@import "bootstrap-sprockets";
@import "bootstrap";

body {
  padding-top: 52px;
  padding-bottom: 20px;
  font-family: 'Ubuntu', sans-serif;
}

$verde: #9DCA39;

.navbar {

  border-top: #CCE09C solid 1px;
  background: -webkit-linear-gradient(#9DCA39, #83AB2F);
  background: -moz-linear-gradient(#9DCA39, #83AB2F);
  background: -o-linear-gradient(#9DCA39, #83AB2F);
  text-align:center;
  color:white !important;

}

#logo-nav-bar{

    height: 100%;
    margin-top: -5px;

}

.navbar-default {

	.navbar-nav > li > a {


	  color: white;

	}

	.navbar-brand {


	  color: white;

	}

	.navbar-brand:hover, .navbar-brand:focus {

	color: white;

	}

}

.fondoblancotransparente {
  
  background-color: rgba(256, 256, 256, 0.6) !important;
  padding: 3em;

}

.footer {

  background-color: $verde;
  color: white;

}

.padding-top{

    padding-top: 2em;

}

.padding-bottom{
  padding-bottom: 2em;
}

.post {


}

/* Contenido de la página variable según navegador */

@media (max-width: 767px) {

  .post:nth-child(odd) {
    width:100%;
  }
  .post:nth-child(even) {
    width:100%;
  }

}
@media (min-width: 768px) {

  .jumbotron-not-logged-in {

    background-image: image-url("jumbotron_not_logged_in.jpg") !important;
    color: black;
    margin-bottom: 0 !important;

  }

  .col-der:nth-child(even) {
    float:right;
    width:50%;
  }
  .col-izq:nth-child(odd) {
      float: left;
      width:50%;
  }

}


/* Ver informacion de debug nicer */
@mixin box_sizing {
  -moz-box-sizing:    border-box;
  -webkit-box-sizing: border-box;
  box-sizing:         border-box;
}

/* miscellaneous */

.debug_dump {
  clear: both;
  float: left;
  width: 100%;
  margin-top: 45px;
  @include box_sizing;
}



input, textarea, select, .uneditable-input {
  border: 1px solid #bbb;
  width: 100%;
  margin-bottom: 15px;
  @include box_sizing;
}

input {
  height: auto !important;
}

#error_explanation {
  color: red;
  ul {
    color: red;
    margin: 0 0 30px 0;
  }
}

.field_with_errors {
  @extend .has-error;
  .form-control {
    color: $state-danger-text;
  }
}

.post {
  
  margin-top: 2em;

  .comments {

    margin-left: 2em;
    padding-top: 1em;

    .comment {
    
    padding-top: 1em;

    }

  }

}