@import "bootstrap-sprockets";
@import "bootstrap";

body {
  padding-top: 52px;
  padding-bottom: 20px;
  font-family: 'Ubuntu', sans-serif;
}

$verde: #9DCA39;

.navbar {

  border-top: #CCE09C solid 1px;
  background: -webkit-linear-gradient(#9DCA39, #83AB2F);
  background: -moz-linear-gradient(#9DCA39, #83AB2F);
  background: -o-linear-gradient(#9DCA39, #83AB2F);
  text-align:center;
  color:white !important;

}

#logo-nav-bar{

    height: 100%;
    margin-top: -5px;

}

.navbar-default {

	.navbar-nav > li > a {


	  color: white;

	}

	.navbar-brand {


	  color: white;

	}

	.navbar-brand:hover, .navbar-brand:focus {

	color: white;

	}

}

.fondoblancotransparente {
  
  background-color: rgba(256, 256, 256, 0.6) !important;
  padding: 3em;

}

.footer {

  background-color: $verde;
  color: white;

}

.margin {
  margin: 0.5em;
}

.padding {
  padding:0.5em;
}

.padding-left {
  padding-left:0.5em;
}

.padding-right {
  padding-right: 0.5em;
}

.padding-top{
  padding-top: 0.5em;
}

.padding-bottom{
  padding-bottom: 0.5em;
}

.padding-bottom-double{
  padding-bottom: 0.5em;
}

.padding-left-double{
  padding-left:1em;
}

.padding-right-double{
  padding-right: 1em;
}

/* Ver informacion de debug nicer */
@mixin box_sizing {
  -moz-box-sizing:    border-box;
  -webkit-box-sizing: border-box;
  box-sizing:         border-box;
}

/* miscellaneous */

.debug_dump {
  clear: both;
  float: left;
  width: 100%;
  margin-top: 45px;
  @include box_sizing;
}



input, textarea, select, .uneditable-input {
  border: 1px solid #bbb;
  width: 100%;
  margin-bottom: 15px;
  @include box_sizing;
}

input {
  height: auto !important;
}

#error_explanation {
  color: red;
  ul {
    color: red;
    margin: 0 0 30px 0;
  }
}

.field_with_errors {
  @extend .has-error;
  .form-control {
    color: $state-danger-text;
  }
}

/* Estilos de los post */
.post-form{

  @extend .padding;

  .post-form-box {

    height: 5em;

  }

}

.post {
  
  background-color: beige;
  @extend .padding;

  .post-mensaje {

    background-color: white;
    @extend .padding-bottom;
    @extent .padding-top;
    @extend .padding-left-double;
    @extend .padding-right-double;
    @extend .margin;


    .tag{

      line-height: 2.5;
      color: black;
      border-bottom: 1px solid #D3D3D3;
      @extend .h5;
    }

    .tag:first-letter {
       text-transform:uppercase;
    }

    .megusta {
      
      overflow: auto;
      @extend .padding-bottom;
      padding-top: 2em;

    }

  }

  .comments {

      @extend .padding-left-double;

      .comment {
          
          .user {
            @extend h5;
          }
        border-bottom: 1px solid #D3D3D3;
        @extend .margin;
        @extend .padding-bottom-double;

      }
   
  }

  .user {

    line-height: 2;

  }

  .comment-box-form{

    padding-left: 2em;
      @extend .padding;
      @extend .margin;

    .comment-box {

      height: 2em;

    }
  }

}

/* Contenido de la página variable según navegador */

@media (max-width: 767px) {
/*
  .post:nth-child(odd) {
    width:100%;
  }
  .post:nth-child(even) {
    width:100%;
  } */

}
@media (min-width: 768px) {

  .jumbotron-not-logged-in {

    background-image: image-url("jumbotron_not_logged_in.jpg") !important;
    color: black;
    margin-bottom: 0 !important;

  }
/*
  .col-der:nth-child(even) {
    float:right;
    width:48%;
  }
  .col-izq:nth-child(odd) {
      float: left;
      width:48%;
  }
*/
}

/* Columnas masonry */
#masonry-container {

  padding: 5px;
  margin-bottom: 20px;
  border-radius: 5px;
  clear: both;
  -webkit-border-radius: 5px;
     -moz-border-radius: 5px;
          border-radius: 5px;
}

.box{
  background-color: beige !important;
  font-size: 0.95em;
}