<div class="footer hidden-xs">
	<div class="container padding-top padding-bottom ">
		<div class="hidden-xs col-sm-4">
			<div class="detalle">Acerca de Vesindo</div>
			<div class="detalle">Quiénes Somos</div>
			<div class="detalle">Misión</div>
			<div class="detalle">Video</div>
			<div class="detalle">Equipo</div>
		</div>
		<div class="hidden-xs col-sm-4 text-center">
			<%= image_tag("logo.png", alt: "Vesindo Logo") %>
		</div>
		<div class="hidden-xs col-sm-4 text-right">
			<div class="detalle">contacto@vesindo.com</div>
			<div class="detalle">Of. Tiziano 340</div>
			<div class="detalle">Tel. +56982191914</div>
		</div>
	</div>
</div>

    <script type="text/javascript">
        
          $(".mediapantalla").css('min-height',$( window ).height()/2);
          $(".pantallaentera").css('min-height',$( window ).height());

          $(function(){

			  $('#masonry-container').masonry({
			    itemSelector: '.box',
			    gutterWidth: 40
			  });

			});

          	new AnimOnScroll( document.getElementById( 'masonry-container' ), {
				minDuration : 0.4,
				maxDuration : 0.7,
				viewportFactor : 0.2
			} );
        
    </script>